/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
    min-height: 80vh; 
}

/* Стили для навигации */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f0f0f0;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Стили для сетки заказов */
.orders-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.order-card {
    width: 30%; 
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.order-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.order-card p {
    margin-bottom: 10px;
}

.order-card ul {
    list-style: none;
    padding: 0;
}

.order-card li {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Цвета для статусов */
.status-новая {
    border: 2px solid darkorange;
    padding: 2px 5px; 
    display: inline-block; 
    background-color: darkorange;
    border-radius: 5px; 
    color: white;
}

.status-подтвержденная {
    border: 2px solid cornflowerblue;
    padding: 2px 5px;
    display: inline-block;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
}

.status-выполненная {
    border: 2px solid cornflowerblue;
    padding: 2px 5px;
    display: inline-block;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
}

.status-отмененная {
    border: 2px solid firebrick;
    padding: 2px 5px;
    display: inline-block;
    background-color: firebrick;
    border-radius: 5px; 
    color: white;
}

/* Общие стили для карточки заказа */
.order-card {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: border-color 0.3s ease;
}

.order-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(-3px); 
}