{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'landing' %}">Главная</a></li>
                <li><a href="{% url 'orders_list' %}">Список заказов</a></li>
                <li><a href="{% url 'thanks' %}">Спасибо</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 Barbershop</p>
    </footer>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>