{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список записей</title>
    <link rel="stylesheet" href="{% static 'main.css' %}"> {% comment %} Подключаем CSS {% endcomment %}
</head>
<body>
    <div class="orders-list-container">  <!-- Добавляем класс-контейнер -->
        <div class="container">
            <h1>Список заказов</h1>
            {% if orders %}
                <table>
                    <thead>
                        <tr>
                            <th>ID <small>(кликните для деталей)</small></th>
                            <th>Клиент</th>
                            <th>Услуги</th>
                            <th>Мастер</th>
                            <th>Дата</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td><a href="{% url 'order_detail' order_id=order.id %}">{{ order.id }}</a></td>
                                <td>{{ order.client_name }}</td>
                                <td>
                                    <ul>
                                        {% for service in order.services %}
                                            <li>{{ service }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ order.master_id }}</td>
                                <td>{{ order.date }}</td>
                                <td class="status-{{ order.status|slugify }}">
                                    {{ order.status }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Нет заказов.</p>
            {% endif %}
            <a href="{% url 'landing' %}">Вернуться на главную</a>
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script> {% comment %} Подключаем JavaScript {% endcomment %}
</body>
</html>

